@media(max-width:1200px){
    .logo{
        margin-top: 2rem;
        position: relative;
    }
    .box{
        padding: 2rem 0rem 0 0rem;
        text-align: left;
    }
    .selection{
        display: none;
    }
    .content{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content .headertext{
        font-family: Tenor Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 154%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.3px;
        color: #F8EEE4;
    }
    .content .paragraph{
        margin-bottom: 3rem;
        
    }
}

@media(min-width: 1200px){
    .logo{
        display: none;
    }
    .box{
        padding: 4rem 2rem 0 2rem;
    }
    .selection{
        position: relative;
        width: 10%;
        height: 100%;
        margin-right: 12px;
    }
    .selection h3{
        font-family: Tenor Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 154%;
        display: flex;
        align-items: center;
        letter-spacing: -0.3px;
        color: #F8EEE4;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.5s;
        
    }
    .selection h3:hover, .selection .selected{
        color: #073E0D;
    }
    .content{
        position: relative;
        padding-left: 2rem;
        border-left: 2px solid white;
        width: 70%;
        height: fit-content;
    }
    .content .headertext{
        font-family: Tenor Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 154%;
        display: flex;
        align-items: center;
        letter-spacing: -0.3px;
    
        color: #F8EEE4;
    }
}

.container {
    background-color: #B99173;
    width: 100%;
    height: max-content;
    padding: 12px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.content .paragraph{
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #F8EEE4;
}

.content .resultbtn{
    width: 330px;
    border: none;
    border-radius: 20px;
    background-color: #BDC2BC;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    padding: 6px 12px;
    text-align: center;
}

.content .resultbtn:hover{
    background-color: #073E0D;
}

.content .headertext{
    margin-bottom: 2rem;
}

.content .paragraph{
    margin-bottom: 3rem;
    font-size: small;
}

@media only screen and (max-width: 768px) {
    .paragraph{
        margin-bottom: 3rem;
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .box {
        width: 87%;
    }
}