@media (orientation: landscape) {
    .container {

        padding: 24px 24px 0 100px;
        /* margin-left: 100px; */
    }
    .groupButton {
        display: flex;
        justify-content: end;
        margin-top:70px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 24px;
    }
    .groupButton {
        margin-top: 30px !important;
    }
    .groupButton .btnitem {
        width: 330px !important;
    }
}


.bg {
    background-color: #b99173;
}

.heading {
    display: flex;
    align-items: center;
    height: 140px;
}

.heading__imgfluid {
    width: 140px;
    height: 140px;
    position: relative;
    background-image: url('/images/21/Ellipse 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.heading__imgoverlay {
    width: 100%;
}

.heading__img {
    margin: auto;
}

.heading__text {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    width: 557px; 
    margin-left: 16px;
    color: #F8EEE4;

}

.imgslist {
    display: block;
    padding: 40px 0px;
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory; */
    /* scroll-behavior: smooth; */
    cursor: pointer;
    white-space: nowrap;
} 

.imgslist.active {
    cursor: grabbing;
}

.imgslist::-webkit-scrollbar {
    display: none;
}

.imgitem {
    scroll-snap-align: start;
    display: block;
    padding: 0 16px;
}

.item__imgfluid {
    overflow: hidden;
    position: relative;
    width: fit-content;
}

.main__img {
    /* border-radius: 40px 40px 40px 100px; */
    background-color: #A56C50;
    mix-blend-mode: multiply;
    opacity: 0.6;
    /* position: relative; */
    width: 494px;
    height:449px;
    border-radius: 20px 20px 20px 80px !important;
}
.main__img span{
    width: 494px !important;
    height:449px !important;
}

.main__img:lastchild {
    /* border-radius: 0 0 40px 100px; */
    border-radius: 20px 20px 20px 80px !important;

}

.itemcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #A56C50; */
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: auto;
}

.title {
    font-family: TAN - PEARL;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 115.5%;
    color: #F8EEE4;
    margin: 0 auto;
}

.subtitle {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115.5%;
    letter-spacing: -0.3px;
    color: #F8EEE4;
    opacity: 0.5;
}

/* bottom */

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.sliderinput {
    width: 199px;
    height: 3px;
    background-color: transparent;
}
.slidervalue {
    width: 40%;
    height: 3px;
    background-color: #073E0D;
}


.bottom__buttons {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.btnitem {
    width: max-content;
    padding: 12px 24px 12px 24px;
    margin-bottom: 12px;
    /* height: 40px; */
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    background: #A56C50;
}

.btnitem.left {
    background: #A56C50;

}

@media screen and (max-width: 768px) {

    .heading {
        flex-direction: column;
        align-items: flex-start;
        height: unset;
    }

    .heading__text {
        width: unset;
        margin-left: 0;
    }

    .imgslist {
        flex-direction: column;
        height: 50%;
        overflow: hidden;
    }

    .imgitem {
        margin: 6px 0;
    }


    .item__imgfluid {
        width: 100%;
    }

    .main__img {
        width: 100%;
        height: 120px !important;
        border-radius: 10px 10px 10px 40px !important;
    }

    .main__img img{
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        border-radius: 10px 10px 10px 40px !important;
    }
    
    .main__img:lastchild {
        border-radius: 10px 10px 10px 40px !important;
    }

    .sliderinput {
        display: none;
    }

    .bottom__buttons {
        flex-direction: column;
    }

    .bottom__buttons {
        width: 100%;
    }

    .btnitem {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .btnitem.left {
        margin-bottom: 8px;
    }

    .bottom {
        padding: 0;
    }
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
    
}

@media screen and (min-width: 1024px) {
    
}