.container {
    background-color: #B99173;
    margin-top: -40px;
    height: max-content;
    border-radius:40px 40px 0 0 ;
    z-index: 2;
    position: relative;
    padding: 0;
}

.coverimg {
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 0;
    margin: 0;
}

.coverimgpd {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
}

.coverimgfull {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.contentcover {
    position: relative;
    z-index: 100;
}

.cardtitle {
    line-height: 154%;
    letter-spacing: -0.3px;
    z-index: 100;
    color: #F8EEE4;
    position: relative;
}

.imgcover {
    background: #C4C4C4;
    border-radius: 10px 10px 10px 40px;
}
@media only screen and (max-width: 768px)  {
    .content5{
        display:flex;
        flex-direction: column !important;
    }
    .content5 .card{
        position: relative;
        width: 95%;
        height: 120px;
        cursor: pointer;
        margin: 0.5rem;
    }
}

.content5{
    display: flex;
        flex-direction: row;
}
.card{
    position: relative;
        margin-bottom: 2rem;
        width: 100%;
        height: 180px;
}

.inputBox{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
.Icon{
    width: 40px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.inputBox input {
    height: 41px;
    width: 80%;
    border: none;
    background-color: rgba(0,0,0,0);;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    margin-bottom: 1rem;

    font-family: Tenor Sans;
    font-size: 14px;
    padding-left: 1rem;
    color: #ffffff
}

.inputBox input::placeholder {
    color: #ffffff
}