@media (max-width: 1000px) {
  .heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .heading .infor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .container {
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 0 0 0;
  }

  .bodyItem .bodyLeft{
    width: 48px;
    height: 48px;
    margin-top: 10px
  }
  .bodyCotent .bodyTitle{
    font-size: 16px !important;
  }
  
  .bodyCotent .bodyRight{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
  .bodyCotent .bodyDate{
    font-size: 16px !important;
    color: #ffffff;
    line-height:27.4px;
    padding-left: 5px
  }
  
  .bodyCotent .bodyBtn{
    width: 117px !important;
    height: 30px !important;
    background: #073E0D;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 768px){
   .container{
      justify-content: center;
      padding: 0px !important;
  }
 .container .block{
      padding: 1rem !important;
      width: 45%;
      height: 320px;
  }
 
   .container .block .price{
      position: relative;
  }

}

@media (orientation: landscape) {
  .heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .heading .infor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .bodyItem .bodyLeft{
    width: 37px;
    height: 37px;
  }
  .bodyCotent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }
 .container .block{
    padding: 0.5rem;
    width: 329.65px;
    height: 244.98px;
}
.container .block .price{
    position: relative;
}


}

.contain {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.box {
  padding-top: 5rem;
  width: 80%;
  height: fit-content;
}

.heading .infor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bio {
  color: #ffffff
}

.heading .infor .hello {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;

  color: #f8eee4;
}

.heading .infor .button {
  width: 177px;
  height: 40px;
  background-color: #a56c50;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.5s;
}

.choose {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  margin-bottom: 0.5rem;
  color: #f8eee4;
}

.recommend .selection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.recommend .selection .buttonRe {
  width: 188px;
  height: 30px;
  background-color: #cfa88a;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.recommend .selection .buttonRe:hover {
  background-color: #073e0d;
  border: 2px solid #073e0d;
}


.bodyItem {
  display: flex;
  margin-bottom: 20px;
  margin-top:20px

}
.bodyItem .bodyLeft{
  background-color: #F8EEE4;
  border-radius: 50%;
}

.bodyCotent .bodyTitle{
  font-size: 25px;
  color: #ffffff;
  line-height:27.4px;
  padding-left: 5px;
  padding-top: 5px;
}

.bodyCotent .bodyRight{
  display: flex;
  justify-content: space-between;
  padding-top: 5px
}

.bodyCotent .bodyDate{
  font-size: 18px;
  color: #ffffff;
  line-height:27.4px;
  padding-left: 5px
}

.bodyCotent .bodyBtn{
  width: 177px;
  height: 40px;
  background: #073E0D;
  color: #ffffff;
  border-radius: 100px;
}

.slider {
  margin-top: 30px;
}
.slider i {
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
}
.slider .title {
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
}

 .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0;
}


.container .block{
  padding: 0.5rem;
  background: #F8EEE4;
  border-radius: 10px 10px 10px 40px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* cursor: pointer; */
}

 .container .block .heading{
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  color: #B99173;
  border-bottom: 2px solid #B99173;
  width: 90%;
  margin-bottom: 1rem;
}

 .container .block .text{
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;

  color: #523922;
  cursor: pointer;
}


.container .block .note{
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 115.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;

  color: #B99173;

}


.container .block .price{
  position: relative;
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115.5%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #B99173;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
}