@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Tenor Sans', sans-serif;
  }
}

@font-face {
  font-family: TAN-PEARL;
  src: url('/TAN-PEARL.woff');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Tenor Sans', sans-serif; */
  
}

h1 {
  font-family: TAN-PEARL;
}

h2 {
  font-family: Tenor Sans;
  font-size: 32px;
  line-height: 100%;
/* or 32px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.3px;

color: #523922;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nearwhite {
  color: #F8EEE4;
}

.ftpad li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.subbtn {
  text-align: center;
  width: 160px;
  background: #F8EEE4;
  border-radius: 100px;
  font-family: Tenor Sans;
  margin-top: 20px;
  padding: 6px;

  color: #523922;
}

.divider {
  width: 100%;
  border: 1px solid #F8EEE4;
  margin-top: 6px;
  margin-bottom: 6px;
}