@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Tenor Sans", sans-serif;
  }
}

@font-face {
  font-family: TAN-PEARL;
  src: url("/TAN-PEARL.woff");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #b99173;
  /* font-family: 'Tenor Sans', sans-serif; */
}

h1 {
  font-family: TAN-PEARL;
}

.tanpearl {
  font-family: TAN-PEARL;
}

h2 {
  font-family: Tenor Sans;
  font-size: 32px;
  line-height: 100%;
  /* or 32px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.3px;

  color: #523922;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nearwhite {
  color: #f8eee4 !important;
}

.ftpad li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.subbtn {
  text-align: center;
  width: 160px;
  background: #f8eee4;
  border-radius: 100px;
  font-family: Tenor Sans;
  margin-top: 20px;
  padding: 6px;

  color: #523922;
}

.divider {
  width: 100%;
  border: 1px solid #f8eee4;
  margin-top: 6px;
  margin-bottom: 6px;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 71px !important;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: -4px;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 0.4rem !important;
  border-radius: 4px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #073e0d !important;
  opacity: 1;
}

.rounded-custom {
  border-radius: 12px 12px 12px 84px;
}

/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  color: #a56c50;
}

.checkbox input:checked ~ .labelcheck {
  color: #073e0d !important;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a56c50;
  border-radius: 18px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: rgba(7, 62, 13, 0.1);
  border: 1px solid #073e0d;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  border: 1px solid #073e0d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #073e0d;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Square Checkbox */

/* Customize the label (the container) */
.scheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.scheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.scheckbox {
  color: #a56c50;
}

.scheckbox input:checked ~ .labelcheck {
  color: #a56c50 !important;
}

/* Create a custom checkbox */
.scheckmark {
  position: absolute;
  margin-top: 2px;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a56c50;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.scheckbox:hover input ~ .scheckmark {
  background-color: rgba(7, 62, 13, 0.1);
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */
.scheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.scheckbox input:checked ~ .scheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.scheckbox .scheckmark:after {
  left: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  border: solid #a56c50;
  background-color: #a56c50;
}

.brown {
  color: #a56c50;
}

.nearblack {
  color: #523922;
}

label a {
  text-decoration: underline;
  color: #b99173;
}

textarea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a56c50;
  border-radius: 3px;
  color: #a56c50;
  padding: 4px;
  margin: 2px;
}

.greenbtn {
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #073e0d;
  border: 1px solid #073e0d;
  z-index: 1;
  border-radius: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #f8eee4;
}

.greenbtn:hover {
  background-color: #f8eee4;
  color: #073e0d;
}

.greenbtn-2 {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #073e0d;
  border: 1px solid #073e0d;
  z-index: 1;
  border-radius: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #f8eee4;
}

.greenbtn-2:hover {
  background-color: #f8eee4;
  color: #073e0d;
}

.graybtn {
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #bdc2bc;
  border: 1px solid #bdc2bc;
  z-index: 1;
  border-radius: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #f8eee4;
}

.graybtn:hover {
  background-color: #f8eee4;
  color: #bdc2bc;
}

.CenterBox {
  position: relative;
  width: 470px;
  height: 548px;
  background-image: url("/images/11/Login.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .CenterBox {
    width: 90vw;
    height: calc(90vw * 1.16);
  }
  .onmb {
    color: #F8EEE4 !important;
}

}

.darkred {
  color: #8e1100;
}

.rounded-sm-bl {
  border-radius: 10px 10px 10px 30px;
}

.rounded-sm-br {
  border-radius: 10px 10px 30px 10px;
}

.embla {
  position: relative;
  padding-top: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 40%;
  padding-left: 14px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 45vh;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

@media only screen and (min-width: 768px) {
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 60vh;
  }
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
