@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Tenor Sans', sans-serif;
  }
}

@font-face {
  font-family: TAN-PEARL;
  src: url('/TAN-PEARL.woff');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Tenor Sans', sans-serif; */
  
}

h1 {
  font-family: TAN-PEARL;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nearwhite {
  color: #F8EEE4;
}