.container {
    background-color:  #B99173;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.lighttext {
    color: #F8EEE4;
    display: none !important;
}

.content {
    /* margin-top: 14px; */
    font-family: Tenor Sans;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #F8EEE4;
    width: 130px;
}

.roundedcustomfull {
    border-radius: 10px !important;
}

.mbfooter {
    position: absolute;
    top: 100%;
    font-family: Tenor Sans;
    font-size: 1rem;
    line-height: 154%;
    /* or 15px */
    letter-spacing: -0.3px;
    color: #FFFFFF;
}



.space {
    margin-top: 5vh;
}

.head1 {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #F8EEE4;
    margin:12px 0 12px 0;
}

.head2 {
    margin:12px 0 12px 0;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    display: flex;
    align-items: center;

    color: #F8EEE4;

}


.moonimg {
    mix-blend-mode: screen;
    /* left: 0px !important; */
    /* transform: rotate(-180deg); */
}

.backRec1 {
    position: absolute;
width: 350px;
height: 840px;
right: 0px;
top: 0px;

background: #A56C50;
box-shadow: 0px 4px 5px rgba(165, 108, 80, 1);
border-radius: 0px 0px 0px 280px;
}


@media only screen and (min-width: 768px) {
    .lighttext {
      display: block !important;
    }
    .container {
        width: auto;
        height: auto;
    }
    .mbfooter {
        display: none;
    }
    .space {
        margin-top: 3vh;
    }
    .head1 {
        font-size: 50px;
        line-height: 52px;
    }
    .head2 {
        font-size: 32px;
        line-height: 30px;
    }
    .title-28 {
        font-size: 28px;
    }
    .content {
        width: 100%;
        font-size: 16px;
    }
  }

  .inputBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Icon{
    width: 40px;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.inputBox input {
    height: 41px;
    width: 300px;
    border: none;
    background-color: rgba(0,0,0,0);;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 1rem;

    font-family: Tenor Sans;
    font-size: 14px;
    padding-left: 1rem;
    color: #523922

}
