.container {
    background-color:  #B99173;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.lighttext {
    color: #F8EEE4;
    display: none !important;
}

.mbfooter {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 154%;
    /* or 15px */
    letter-spacing: -0.3px;

    color: #FFFFFF;

    opacity: 0.5;
}

.space {
    margin-top: 10vh;
}

.head1 {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 33px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #F8EEE4;
    margin: 12px;
}

.head2 {
    margin: 12px;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #F8EEE4;

}

.moonimg {
    mix-blend-mode: screen;
    /* transform: rotate(-180deg); */
}

@media only screen and (min-width: 768px) {
    .lighttext {
      display: block !important;
    }
    .container {
        width: auto;
        height: auto;
    }
    .mbfooter {
        display: none;
    }
  }